{% extends 'PkrBuzzBundle::base.html.twig' %}

{% block headline %}Categories{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <p class="margin-bottom">
                <a class="btn btn-small" href="{{ path('category_new') }}">
                    Create category
                </a>
            </p>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><span class="badge">{{ entity.id }}</span></td>
                <td>{{ entity.name }}</td>
                <td>
                    <div class="btn-group pull-right">
                        <a class="btn btn-small" href="{{ path('feed', { 'id': entity.id }) }}">Feeds</a>
                        <a class="btn btn-small" href="{{ path('rawfeed', { 'id': entity.id }) }}">Raw feeds</a>
                        <a class="btn btn-small" href="{{ path('category_edit', { 'id': entity.id }) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
