{% extends 'PkrBuzzBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <p class="margin-bottom">
                <a class="btn" href="{{ path('topic_new') }}">
                    Create topic
                </a>
            </p>
        </div>
    </div>

    <h2>Topics</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <div class="btn-group pull-right">
                        <a class="btn btn-small" href="{{ path('query', { 'id': entity.id }) }}">Queries</a>
                        <a class="btn btn-small" href="{{ path('topicFeed', { 'id': entity.id }) }}">Topic feeds</a>
                        <a class="btn btn-small" href="{{ path('fetch', { 'id': entity.id }) }}">Fetch topic</a>
                        <a class="btn btn-small" href="{{ path('topic_edit', { 'id': entity.id }) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
