{% extends 'PkrBuzzBundle::base.html.twig' %}

{% block headline %}Queries of topic '{{ topic.name }}'{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <p class="margin-bottom btn-group">
                <a class="btn" href="{{ path('topic') }}">
                    Back
                </a>
                <a class="btn" href="{{ path('query_new', { 'id': topic.id }) }}">
                    Create query
                </a>
            </p>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Value</th>
                <th>Disabled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in queries %}
            <tr>
                <td><span class="badge">{{ entity.id }}</span></td>
                <td>{{ entity.value }}</td>
                <td>{% if entity.disabled == true %}true{% else %}false{% endif %}</td>
                <td>
                    <div class="btn-group pull-right">
                        <a class="btn btn-small" href="{{ path('query_edit', { 'id': entity.id }) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
