{% extends 'PkrBuzzBundle::base.html.twig' %}

{% block headline %}Raw feeds of category '{{ category.name }}'{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <p class="margin-bottom btn-group">
                <a class="btn" href="{{ path('category') }}">
                    Back
                </a>
                <a class="btn" href="{{ path('rawfeed_new', { 'id': category.id }) }}">
                    Create raw feed
                </a>
            </p>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Url</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in rawFeeds %}
            <tr>
                <td><span class="badge">{{ entity.id }}</span></td>
                <td>{{ entity.url }}</td>
                <td>
                    <div class="btn-group pull-right">
                        <a class="btn btn-small" href="{{ path('rawfeed_edit', { 'id': entity.id }) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
