{% extends 'PkrBuzzBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form
                class="pull-right"
                action="{{ path('log_delete') }}"
                method="post"
            >
                <button class="btn btn-danger" type="submit">Clear list</button>
            </form>
        </div>
    </div>

    <h2>Log</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Level</th>
                <th>Message</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><span class="badge">{{ entity.id }}</span></td>
                <td>{{ entity.level }}</td>
                <td>{{ entity.message }}</td>
                <td>{{ entity.create.format('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
