{% extends 'PkrBuzzBundle:FeedEntry:base.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            {% for author in topic.authorsOrdered %}
                <li class="{% if loop.first %}active{% endif %}">
                    <a
                        data-toggle="tab"
                        href="#author-{{ author.id }}"
                    >
                        <span class="badge">{{ author.id }}</span>
                        {{ author.name }}
                        <span class="badge badge-info">{{ author.feedEntries.count }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for author in topic.authorsOrdered %}
                <div
                    class="tab-pane {% if loop.first %}active{% endif %}"
                    id="author-{{ author.id }}"
                >
                    <table
                        class="table table-striped"
                    >
                        <thead>
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Timestamp</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedEntry in author.feedEntries %}
                            <tr>
                                <td><span class="badge">{{ feedEntry.id }}</span></td>
                                <td>
                                    <strong>{{ feedEntry.title }}</strong><br>
                                    via <a href="{{ feedEntry.links.0 }}">{{ feedEntry.domain.url }}</a>
                                </td>
                                <td>{{ feedEntry.dateCreated.format('Y-m-d H:i:s') }}</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-small" href="{{ path('feedEntry_show', { 'id': feedEntry.id }) }}">Show</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
