{% extends 'PkrBuzzBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span8">
            <p class="margin-bottom btn-group">
                <a class="btn" href="{{ path('topic') }}">
                    Back
                </a>
                <a class="btn" href="{{ path('fetch', { 'id': topic.id }) }}">
                    Fetch topic
                </a>
            </p>
        </div>
        <div class="span4">
            <form
                class="pull-right"
                action="{{ path('feedEntry_delete', { 'id': topic.id }) }}"
                method="post"
            >
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit">Clear list</button>
            </form>
        </div>
    </div>

    <h2>FeedEntry list of Topic '{{ topic.name }}'</h2>

    <ul class="nav nav-tabs">
        <li class="{% if app.request.get('_route') == 'feedEntry_author' %}active{% endif %}">
            <a href="{{ path('feedEntry_author', { 'id': topic.id }) }}">by Authors</a>
        </li>
        <li class="{% if app.request.get('_route') == 'feedEntry_domain' %}active{% endif %}">
            <a href="{{ path('feedEntry_domain', { 'id': topic.id }) }}">by Domains</a>
        </li>
        <li>
            <a href="#">by Queries</a>
        </li>
    </ul>
{% endblock %}
