{% extends 'PkrBuzzBundle::base.html.twig' %}

{% block headline %}Feed entries of topic '{{ topic.name }}'{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            <p class="margin-bottom btn-group">
                <a class="btn" href="{{ path('topic') }}">
                    Back
                </a>
                <a class="btn" href="{{ path('fetch', { 'id': topic.id }) }}">
                    Fetch topic
                </a>
            </p>
        </div>
        <div class="span4">
            <form
                class="pull-right"
                action="{{ path('feedEntry_delete', { 'id': topic.id }) }}"
                method="post"
            >
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit">Clear list</button>
            </form>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="{% if view == 'query' %}active{% endif %}">
            <a href="{{ path('feedEntry', { 'id': topic.id, 'view': 'query' }) }}">by Queries</a>
        </li>
        <li class="{% if view == 'domain' %}active{% endif %}">
            <a href="{{ path('feedEntry', { 'id': topic.id, 'view': 'domain' }) }}">by Domains</a>
        </li>
        <li class="{% if view == 'author' %}active{% endif %}">
            <a href="{{ path('feedEntry', { 'id': topic.id, 'view': 'author' }) }}">by Authors</a>
        </li>
    </ul>
{% endblock %}
