{% extends 'PkrBuzzBundle:FeedEntry:base.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            {% for query in topic.queries %}
                <li class="{% if loop.first %}active{% endif %}">
                    <a
                        data-toggle="tab"
                        href="#query-{{ query.id }}"
                    >
                        <span class="badge">{{ query.id }}</span>
                        {{ query.value }}
                        <span class="badge badge-info">todo</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for query in topic.queries %}
                <div
                    class="tab-pane {% if loop.first %}active{% endif %}"
                    id="query-{{ query.id }}"
                >
                    <table
                        class="table table-striped"
                    >
                        <thead>
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
